EXPO_PUBLIC_API_BASE=https://complementasenac.onrender.com

EXPO_PUBLIC_FIREBASE_APIKEY=AIzaSyB4oWuOGDjJmsBXdy9WGWEB_Q_vapH0h4I
EXPO_PUBLIC_FIREBASE_AUTHDOMAIN=pi-3-286ed.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECTID=pi-3-286ed
EXPO_PUBLIC_FIREBASE_STORAGEBUCKET=pi-3-286ed.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGINGSENDERID=808575862472
EXPO_PUBLIC_FIREBASE_APPID=1:808575862472:web:0159933b1aaad7069e07fd
